{% extends 'base.html' %}
{% load static %}
{% block custom_tags %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">
{% endblock %}

{% block content %}
    <div class="signup-page">
        <div class="signup-container">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}