{% extends 'base.html' %}
{% load static %}
{% block custom_tags %}
    <title>صفحه آگهی‌ها</title>
    <link rel="stylesheet" href= "{% static 'ads/ads_list.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main-container">
    <section class="ad-section">
        {% for ad in ads %}
        <div class="ad-card p-3 m-2">
            <img src="{% static ad.IMG_Link  %}" alt="Your Image" class="img-fluid">
            <div class="ad-content p-2">
                <h1 class="text-center">{{ ad.Title }}</h1>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
