{% extends 'base.html' %}
{% load static %}
{% block custom_tags %}
    <title>صفحه آگهی‌ها</title>
    <link rel="stylesheet" href= "{% static 'ads/ads_list.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="ad-section">
    {% for ad in ads %}
    <a class="main-container" href="{% url 'ad_detail' ad.Ad_ID %}">
        <div class="ad-card p-3 m-2">
            <img src="{% static ad.IMG_Link|default:'img/no_images.png' %}" alt="Your Image" class="img-fluid">
            <div class="ad-content p-2">
                <h3 class="text-left">{{ ad.Title }}</h3>
                <p class="text-left">{{ ad.INFO |truncatechars:20 }}<p>
            </div>
        </div>
    </a>
    {% endfor %}
</section>
{% endblock %}
