{% extends 'base.html' %}
{% load static %}


{% block custom_tags %}
    <link rel="stylesheet" href="{% static 'about_us/about_us.css' %}">
{% endblock %} 

{% block content %}
    <div class= "about-container">
        <div class= "left-content">
            <img src="{% static 'img/ermia.png' %}" alt="Your Image" class="img-prof img-fluid">
            <p class="name">Ermia Mirzaei</p>
            <p class="email">emwermia1383@gmail.com</p>
        </div>

        <div class= "mid-content">
            <h1>About Us</h1> 
            <p>Welcome to our website! We are Ermia and Ali, two university students from KNTU University, passionate about technology and innovation.</p> 
            <h2 style>Our Story</h2> 
            <p>We met in our freshman year at KNTU University, where we both studied Computer Science. Our shared interest in coding and problem-solving brought us together, and we quickly became close friends. Throughout our university journey, we have worked on various projects together, from simple web applications to complex machine learning models. Our collaboration has not only improved our coding skills but also taught us the importance of teamwork, communication, and time management.</p> 
            <h2>Our Mission</h2> 
            <p>Our mission is to create innovative solutions that make a positive impact on people's lives. We believe that technology has the power to transform the world, and we want to be a part of that transformation. Through our website, we aim to share our knowledge, experiences, and projects with the world, hoping to inspire and motivate others to pursue their passions.</p> 
            <h2>About Ali</h2> 
            <p>Hi, I'm Ali! I'm a second-year Computer Science student at KNTU University. I'm fascinated by artificial intelligence and machine learning, and I've worked on several projects in these areas. In my free time, I enjoy playing chess and reading about the latest tech trends.</p> 
            <h2>About Ermia</h2> 
            <p>Hi, I'm Ermia! I'm a second-year Computer Science student at KNTU University. I'm passionate about web development and cybersecurity, and I've worked on several projects in these areas. In my free time, I enjoy hiking and playing football.</p> 
            <h2>Get in Touch</h2> 
            <p>If you have any questions, feedback, or would like to learn more about us, please don't hesitate to contact us. We'd love to hear from you!</p>
                    
        </div>

        <div class="right-content">
            <img src="{% static 'img/ermia.png' %}" alt="Your Image" class="img-prof img-fluid">
            <p class="name">Ali Norouzi</p>
            <p class="email">alinorouzi725@gmail.com</p>
        </div>    
    </div>
{% endblock %}